<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-cdn</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        hr{
            margin: 10px 0;
        }
        img {
            width: 240px;
            height: 180px;
        }

        button {
            border: 1px dotted lightskyblue;
            background-color: lightgoldenrodyellow;
            padding: 5px 10px;
            margin: 2px;
            border-radius: 3px;
        }
        form{
           margin: 15px 0;
        }
        button:active {
            background-color: lightsteelblue;
        }
        .blue{
            color: steelblue;
            font-size: 20px;
        }
        .red{
            color: red;
        }
        .fw{
            font-weight: 300;
            font-size: 24px;
        }
        .container{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .card{
            border: 1px solid saddlebrown;
            padding: 10px;
        }

    </style>
</head>

<body>
    <div id="app">
        <h3 class="blue">v-on</h3>
        {{arr[2]}}
        <div>數字：{{ count+100 }}</div>
        <button type="button" v-on:click="count++">增加(完整寫法)</button> <!--＠click = v-on:click -->
        <button type="button" @click="count--">減少(簡寫)</button>
        <button type="button" @click="addCount()">增加(函式)</button>
        <hr>
        <!-- v-model (通常寫在input) -->
        <!-- input值為多少 資料也會跟著變動 （雙向綁定） -->
        <h3 class="blue">v-model</h3>
        <input type="text" v-model="inputText"> <br>
        {{ inputText }}
        <hr>
        <!-- v-if (判斷式) => 中間不能參雜其他元素，不符合條件的元素不會出現在文件上-->
        <!-- v-show(判斷式) => true：該元素會出現在文件內 false：不會出現 display:none -->
        <h3 class="blue">v-if / v-show</h3>
        <div>Info:{{ info }}</div>
        <button type="button" @click="info++">增加</button>
        <button type="button" @click="info--">減少</button>
        <div class="img">
            <img v-if="info < 5" src="./image/01.jpg" alt="">
            <img v-else-if="info < 10" src="./image/02.jpg" alt="">
            <img v-else src="./image/03.jpg" alt="">

            <div v-show="info > 6">大於6會看到我</div>
        </div>
        <hr>
        <div class="changeClass"> 
            <!-- v-bind（屬性綁定）完整方式 -->
            <!-- :（屬性綁定）簡易方法 -->
            <h3 :class="'blue'">v-bind</h3>
            <img :src="imgPath" alt="" @click="changeImage()"> <br><br>
            <!-- 加入判斷式 :class="{ 'class名稱': 判斷式 }" -->
            <h3 :class="{ 'red': power >= 500 }">戰力：{{ power }}</h3>
            <button type="button" @click="addPower()">增加戰力</button>
            <!-- 加入判斷式 :class="function" -->
            <h3 :class="cssStyle()">戰力：{{ power2 }}</h3>
            <button type="button" @click="addPower2()">增加戰力</button>
        </div>
        <hr>
        <div class="for">
            <h3 :class="'blue'">v-for</h3>
            <!-- 原生做法：使用 preventDefault()擋下送出 -->
            <form @submit.prevent="submitData()">
                Name：<input type="text" v-model="name">
                Power：<input type="number" v-model="playPower">
                <button type="submit">新增資料</button>
            </form>
            <div class="container">
                <!-- v-for="(單筆資料,其索引值) in array(整筆資料)" -->
                <!-- key="" 需為獨一無二的值，若無就選索引值 -->
                <div v-for="player in user" :key="player.id" class="card">
                    <div class="card-img">
                        <img :src="playerImg(player.power)" alt="player.name">
                    </div>
                    <div class="card-content">
                        <p class="name">Name:{{ player.name }}</p>
                        <div class="power">Power:{{ player.power }}</div>
                        <div class="btns">
                            <button type="button" @click="addPlayerPower(player)" v-if="player.power<=1200">增加戰力</button>
                            <button type="button"@click="player.power-=100" v-if="player.power>=0">減少戰力</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>





    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue

        createApp({
            //資烙區塊   
            data() {
                return { //資料區一定要return
                    message: 'Hello Vue!',
                    arr: ['Tata', 'Lulu', 'Machi'],
                    obj: {
                        age: 5,
                        weight: 4
                    },
                    count: 0,
                    inputText: '雙向綁定',
                    info: 0,
                    imgPath: './image/01.jpg',
                    state: 0,
                    power:495,
                    power2:495,
                    user:[{
                        id:1,
                        name:'person1',
                        power:587,
                    },{
                        id:2,
                        name:'person2',
                        power:878,
                    },{
                        id:3,
                        name:'person3',
                        power:787,
                    },{
                        id:4,
                        name:'person4',
                        power:999,
                    }],
                    name:'',
                    playPower:'',
                }
            },
            //函式區塊
            methods: {
                addCount() {
                    //需要跨區塊取資料
                    this.count++;
                },
                addPower() {
                    this.power++;
                },
                addPower2() {
                    this.power2++;
                },
                changeImage() {
                    if (this.state === 0) {
                        this.imgPath = './image/02.jpg';
                        this.state = 1;
                    } else if (this.state === 1) {
                        this.imgPath = './image/03.jpg';
                        this.state = 2;
                    } else {
                        this.imgPath = './image/01.jpg';
                        this.state = 0;
                    }
                },
                cssStyle(){
                    if(this.power2 >= 500){
                        return 'red fw';
                    }else{
                        return '';
                    }
                },
                playerImg(power){
                    if(power<=600){
                        return './image/01.jpg';
                    }else if(power<=800){
                        return './image/02.jpg';
                    }else if(power<=900){
                        return './image/03.jpg';
                    }else{
                        return './image/04.jpg';
                    }
                },
                submitData(){
                    this.user.push({
                        id:this.user.length,
                        name:this.name,
                        power:this.playPower,
                    })
                },
                addPlayerPower(powerData){
                    powerData.power+=100;
                },
            },


        }).mount('#app')
    </script>
</body>

</html>